#scrollViewSC
{
    height: 73%;
}
#scrollViewFB 
{
    height: 90%;
}

#redXBox
{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: +1;
    bottom: 5%;
    visibility:hidden;
}
#question
{
    width:100%;
    height:100%;    
}
#bug
{
    position: absolute;
    z-index: +1;
    border-width: thin;
    border-color: Red;  
}
#scrollViewFBK
{
    height: 58%;
}

